<div class='footer'>

  <div class='footer-copyright'>
    © 2016 Jonathan Ballands
  </div>

  <div class='footer-social'>

    <a href=''><img class='footer-social-github' src='/github-icon.svg' /></a>

  </div>

</div>
