<div class='footer'>

  <div class='footer-copyright'>
    © 2016 Jonathan Ballands
  </div>

  <div class='footer-social'>

    <a href='https://github.com/jballands' target='_none'><img src='/github-icon.svg' /></a>
    <a href='https://twitter.com/jballands' target='_none'><img src='/twitter-icon.svg' /></a>
    <a href='https://www.linkedin.com/in/jballands' target='_none'><img src='/linked-in-icon.svg' /></a>

  </div>

</div>
