<div class='navigation-bar'>
  <div class='navigation-title'>Jonathan Ballands</div>

  <div class='navigation-items'>
    <span class='navigation-item'><a href='#work'>Work</a></span>
    <span class='navigation-item'>Resumé</span>
    <span class='navigation-item'>Contact</span>
  </div>
</div>
