<div class='navigation-bar'>
  <div class='navigation-title'><a href='/'>Jonathan Ballands</a></div>

  <div class='navigation-items'>
    <!-- Responsive -->

    <div id='hamburger'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <span class='navigation-item'><a href='/#work'>Work</a></span>
    <span class='navigation-item'><a href='/resume'>Résumé</a></span>
  </div>
</div>

<!-- Responsive -->

<div id='hamburger-menu'>
  <div class='hbm-navigation-items'>
    <span class='hbm-navigation-item' id='hbm-work'><a href='/#work'>Work</a></span>
    <span class='hbm-navigation-item'><a href='/resume'>Résumé</a></span>
  </div>

  <div class='hbm-navigation-footer'>
    <div class='hbm-social'>
      <a href='https://github.com/jballands' target='_none'><img class='hbm-social-icon' src='/github-icon.svg' /></a>
      <a href='https://twitter.com/jballands' target='_none'><img class='hbm-social-icon' src='/twitter-icon.svg' /></a>
      <a href='https://www.linkedin.com/in/jballands' target='_none'><img class='hbm-social-icon' src='/linked-in-icon.svg' /></a>
    </div>
    <div class='hbm-copyright'>
      © 2016 Jonathan Ballands
    </div>
  </div>
</div>
