<div class='navigation-bar'>
  <div class='navigation-title'><a href='/'>Jonathan Ballands</a></div>

  <div class='navigation-items'>
    <span class='navigation-item'><a href='#work'>Work</a></span>
    <span class='navigation-item'><a href='/resume'>Resumé</a></span>
    <span class='navigation-item'><a href='/contact'>Contact</a></span>
  </div>
</div>
