<div class='navigation-bar'>
  <div class='navigation-title'><a href='/'>Jonathan Ballands</a></div>

  <div class='navigation-items'>
    <div id='hamburger'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <span class='navigation-item'><a href='/#work'>Work</a></span>
    <span class='navigation-item'><a href='/resume'>Résumé</a></span>
  </div>
</div>

<div id='hamburger-menu'>
  <div class='hbm-navigation-items'>
    <span class='hbm-navigation-item'><a href='/#work'>Work</a></span>
    <span class='hbm-navigation-item'><a href='/resume'>Résumé</a></span>
  </div>
</div>
