<!DOCTYPE html>
<html>
 <head>
   <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0'>
   <meta charset='utf-8'>

   <meta name="title" content="IBM Swift Package Catalog" />
   <meta name='description' content='Use the IBM Swift Package Catalog to quickly and easily find open-source packages to use with the Swift Package Manager to speed your Swift development.'>
   <meta name="image" content="http://swiftpkgs.ng.bluemix.net/swift-package-catalog-logo-square.png" />

   <link rel='icon' sizes='16x16' type='image/x-icon' href=''>
   <link rel='icon' sizes="32x32" type='image/png' href=''>

   <title>IBM Swift Package Catalog</title>

   <!-- inject:css -->
   <!-- endinject -->
 </head>

 <body>
   <!-- libraries:js -->
   <!-- endinject -->

   <div class='universal-container'>
     {{> navigationBar }}

     {{{body}}}

     {{> footer }}
   </div>
 </body>
</html>
