<!DOCTYPE html>
<html>
 <head>
   <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0'>
   <meta charset='utf-8'>

   <meta name='title' content='jonathanbalalnds.me' />
   <meta name='description' content='The website and portfolio of Jonathan Ballands.'>

   <link rel='icon' sizes='16x16' type='image/x-icon' href=''>
   <link rel='icon' sizes="32x32" type='image/png' href=''>

   <title>{{title}}</title>

   <!-- inject:css -->
   <!-- endinject -->
 </head>

 <body>
   <!-- libraries:js -->
   <!-- endinject -->

   <div class='container'>
     {{> navigationBar }}

     <div class='content'>
       {{{body}}}
     </div>

     {{> footer }}
   </div>
 </body>
</html>
