$white:                 #FFF;
$black:                 #000;

$teal:                  #3DCC94;
$orange:                #ED5C18;
$purple:                #9932F3;

$darkTeal:              #26805D;
$darkOrange:            #843713;
$darkPurple:            #561192;

$backgroundImageTint:   rgba(0, 133, 255, 1);

.dark-teal {
  color: $darkTeal;
}

.dark-orange {
  color: $darkOrange;
}

.dark-purple {
  color: $darkPurple;
}
