.navigation-bar {
  position: fixed;

  top: 20px;
  left: 20px;
  right: 20px;

  z-index: 1500;

  color: $white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $white;
    text-decoration: none;
  }
}

.navigation-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13pt;
  letter-spacing: 0.5pt;
}

.navigation-items {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 16pt;
  letter-spacing: 1.5pt;
}

.navigation-item {
  display: none;
}

#hamburger {
  position: relative;
  width: 25px;
  height: 16px;

  display: block;

  @include transform(rotate(0deg));
  @include transition(.45s ease-out);

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.45s ease-out);
  }


  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2), span:nth-child(3) {
    top: 7px;
  }

  span:nth-child(4) {
    top: 14px;
  }

  &.open span:nth-child(1) {
    top: 0;
    left: 50%;
    opacity: 0;
    width: 0%;
  }

  &.open span:nth-child(2) {
    @include transform(rotate(45deg));
  }

  &.open span:nth-child(3) {
    @include transform(rotate(-45deg));
  }

  &.open span:nth-child(4) {
    top: 18px;
    left: 50%;
    opacity: 0;
    width: 0%;
  }
}

#hamburger-menu {
  opacity: 0;
  visibility: hidden;

  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;

  @include transition(all .45s);

  * {
   color: $white;
   text-decoration: none;
   display: block;
  }

  .hbm-navigation-items {
    margin: 70px 0 0 20px;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  .hbm-navigation-item {
    font-size: 16pt;

    &:not(:first-child) {
      margin-top: 15px;
    }

    a {
      opacity: 1;
      z-index: 1005;
    }
  }

  .hbm-navigation-footer {
    display: flex;
    flex-flow: column;

    margin: 0 0 10px 20px;
  }

  .hbm-social {
    width: 100%;

    display: flex;
    flex-flow: row;

    margin-bottom: 10px;

    a {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .hbm-social-icon {
    height: 25px;
  }

  .hbm-copyright {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 8pt;
    letter-spacing: 1.5pt;
    text-align: center;
  }
}

#hamburger-menu.open {
  opacity: 1;
  visibility: visible;
  @include transition(all .45s);
}
