<div class='nine-four-ratio'>
  <div class='hero-unit homepage-hero-unit'>

    <div class='homepage-hero-unit-container'>
      <div class='title'>Let's make something cool.</div>

      <div class='description'>
        <div class='header'>
          Software engineer and designer wannabe.
        </div>

        Yuccie man braid waistcoat lomo synth. Bitters salvia kickstarter neutra,
        direct trade lo-fi tumblr microdosing keytar. Try-hard 8-bit ramps, kinfolk
        portland pug sartorial locavore mixtape bitters helvetica.
      </div>
    </div>
  </div>
</div>
