<div class='hero-unit homepage-hero-unit'>
  <div class='hero-unit-container'>

    <div class='hero-unit-bit title restricted-width'>
      Let's make something cool.
    </div>

    <div class='hero-unit-bit description restricted-width'>
      <div class='header'>
        Software engineer and designer wannabe.
      </div>

      <p>I'm a software engineer that likes to make things beautiful. I've done a
      lot of things ranging from web development to release planning to designing
      entire websites to learning how to properly sear a steak.</p>

      <p>Hey, I never said I only know how to be a software engineer.</p>
    </div>

  </div>

  <div class='hero-unit-arrow'><img src='/white-down-arrow.svg' /></div>
</div>

<div id='work'></div>

<a href='/work/ibm-swift' class='hero-unit ibm-hero-unit no-overflow'
  id='ibm-hero-unit-trigger'>
  <div class='hero-unit-container'>
    <div class='hero-unit-bit restricted-width'>
      <div class='title'>IBM Swift</div>
      <div class='header'>By devs, for devs.</div>

      Fast-moving, flexible, and open to feedback, the IBM Swift Sandbox and
      Package Catalog are more than just powerful tools for an expressive language.

      <div class='learn-more dark-teal'>
        <img src='/learn_more_teal.svg' /> Learn more
      </div>
    </div>

    <div class='hero-unit-bit'>
      <img id='ibm-hero-unit-iphone' src='/ibm-swift-iphone-sandbox.png' />
      <img id='ibm-hero-unit-macbook' src='/ibm-swift-macbook-catalog.png' />
    </div>
  </div>
</a>

<a href='/work/somersault' class='hero-unit no-overflow somersault-hero-unit'
  id='somersault-hero-unit-trigger'>
  <div class='hero-unit-container'>
    <div class='hero-unit-bit restricted-width'>
      <img id='somersault-hero-unit-back' src='/somersault-iphone-back.png' />
      <img id='somersault-hero-unit-front' src='/somersault-iphone-front.png' />
    </div>

    <div class='hero-unit-bit restricted-width'>
      <div class='title'>Somersault</div>
      <div class='header'>Modernizing score recording.</div>

      Gymnastics-scoring apps are a thing, and all of them suck. Except for this
      one, of course. See you in the App Store.

      <div class='learn-more dark-orange'>
        <img src='/learn_more_orange.svg' /> Learn more
      </div>
    </div>
  </div>
</a>

<a href='/resume' class='hero-unit self-promotion-hero-unit'>
  <div class='hello-my-name-is-container'>

    <div class='hello-my-name-is-salutation'>Hey there, I can do</div>

    <div class='hello-my-name-is-typing'>
      <span id='self-promotion-tty'></span><span class='blinking-cursor'></span>
    </div>

    <div class='hello-my-name-is-description'>
      Native app development or Angular.js + Redux. Adobe Illustrator or product
      lifecycle management. I’ve probably done it at some point.
    </div>

    <div class='learn-more dark-purple'>
      <img src='/learn_more_purple.svg' /> Learn more
    </div>
  </div>
</a>

<!-- bundle:js -->
<!-- endinject -->
