<div class='hero-unit homepage-hero-unit'>
  <div class='hero-unit-container'>

    <div class='title homepage-hero-unit-tagline'>
      Let's make something cool.
    </div>

    <div class='description homepage-hero-unit-description'>
      <div class='header'>
        Software engineer and designer wannabe.
      </div>

      Yuccie man braid waistcoat lomo synth. Bitters salvia kickstarter neutra,
      direct trade lo-fi tumblr microdosing keytar. Try-hard 8-bit ramps, kinfolk
      portland pug sartorial locavore mixtape bitters helvetica.
    </div>

  </div>
</div>

<div class='hero-unit ibm-hero-unit'>
</div>

<div class='hero-unit somersault-hero-unit'>
</div>

<div class='hero-unit self-promotion-hero-unit'>
</div>
