<div class='hero-unit ibm-swift ibm-swift-spacer no-overflow'
  id='ibm-swift-page-hero-unit'>
  <div class='hero-unit-container'>
    <div class='hero-unit-bit restricted-width text'>
      <div class='title'>IBM Swift</div>

      IBM released the IBM Swift Sandbox to help devs get
      started quickly with the Swift programming language. Later, the IBM Swift Package Catalog was
      released to help Swift developers easily find packages compatible with the
      Swift Package Manager. I've been on both as the lead web developer and Scrum
      Master.

      <p>Acting as both roles for both projects
      has taught me not only how to develop entire front-ends and Node servers at
      scale, but also how to plan and lead a development effort with tight schdules
      and deadlines. And let me say, making bleeding-edge products with developers
      as the primary focus is pretty satisfying.</p>
    </div>

    <div class='hero-unit-bit restricted-width images'>
      <img id='ibmswift-imac-1' />
    </div>
  </div>
</div>

<div class='liquid-columns-container ibm-swift'>

  <div class='liquid-column left'>
    <div class='ibm-swift-liquid-bit-big restricted-width' id='ibm-swift-eye-popping-trigger'>
      <img id='ibmswift-iphone-1' src='/ibmswift-iphone-1.png' />
    </div>

    <div class='ibm-swift-liquid-bit-small restricted-width'>
      <div class='header'>A fluid roadmap that evolves and grows with gusto.</div>

      Whether it's critical bug fixes or awesome new features, both the Sandbox and Package
      Catalog maintain a fluid roadmap that changes with input from leadership
      and the community. This allows us to create a product that satisfies
      both our internal stakeholders and developers the in the Swift community,
      which is increasingly important as IBM tries to evolve its image.
    </div>

    <div class='ibm-swift-liquid-bit-small'></div>
  </div>

  <div class='liquid-column right'>
    <div class='ibm-swift-liquid-bit-small'></div>

    <div class='ibm-swift-liquid-bit-small restricted-width'>
      <div class='header'>Continuously delievered with eye-popping new features.</div>

      Every two weeks, we release at least one customer facing feature into the
      wild. Sometimes these are just service packs, other times they change the
      way one of our products is used. All of this is possible with Agile development
      methods and continous deployment to the cloud. Who says small fish in a big pond
      can't make a big splash?
    </div>

    <div class='ibm-swift-liquid-bit-big restricted-width'
      id='ibm-swift-fluid-roadmap-trigger'>
      <img id='ibmswift-macbook-1' src='/ibmswift-macbook-1.png' />
      <img id='ibmswift-macbook-2' src='/ibmswift-macbook-2.png' />
      <img id='ibmswift-macbook-3' src='/ibmswift-macbook-3.png' />
    </div>
  </div>

</div>

<div class='sidekick-unit ibm-swift'>
  <div class='header'>Let look at some numbers.</div>

  <div class='sidekick-unit-columns-container'>
    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/data-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Data</div>

      The Sandbox handles 250000 code executions and 1000 snapshots every
      month with minimal downtime.
    </div>

    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/interest-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Interest</div>

      There are 300 users on the Sandbox at any given time, and over 1500 vistors to the
      Package Catalog every day.
    </div>

    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/reach-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Reach</div>

      Both the Sandbox and Package Catalog have been accessed in over 110 different
      countries around the world.
    </div>

    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/engagement-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Engagement</div>

      Over half of the visitors to the Sandbox return to use it later, while
      about a third of Package Catalog users return to it later.
    </div>
  </div>
</div>

<div class='sidekick-unit ibm-swift'>
  <div class='header'>Don't just take my word for it.</div>

  <div class='sidekick-unit-columns-container'>
    <div class='sidekick-unit-column'>
      <a href='http://appleinsider.com/articles/15/12/04/ibm-swift-sandbox-lets-you-test-apples-newly-open-source-programming-language-in-your-browser'
        target='_none'>
        <div class='sidekick-unit-column-icon hover-up'>
          <img id='apple-insider' src='/apple-insider.svg' />
        </div>
      </a>

      <div class='sidekick-unit-column-header header'>Apple Insider</div>

      "Just hours after Apple made its Swift programming language open source, IBM
      has introduced a new, simple, and free browser-based way for developers to
      get started writing code."
    </div>

    <div class='sidekick-unit-column'>
      <a href='http://www.nasdaq.com/article/in-a-swift-move-apple-opens-source-and-ibm-backs-it-with-sandbox-cm550907'
        target='_none'>
        <div class='sidekick-unit-column-icon hover-up'>
          <img id='nasdaq' src='/nasdaq.svg' />
        </div>
      </a>

      <div class='sidekick-unit-column-header header'>NASDAQ</div>

      "IBM was 'swift' to act, building the IBM Swift Sandbox to facilitate a taste
      of Swift in the Cloud. "
    </div>

    <div class='sidekick-unit-column'>
      <a href='http://thenextweb.com/dd/2016/02/22/ibms-new-swift-runtime-and-package-catalog-will-help-ready-the-language-for-servers/'
        target='_none'>
        <div class='sidekick-unit-column-icon hover-up'>
          <img src='/tnw.svg' />
        </div>
      </a>

      <div class='sidekick-unit-column-header header'>TNW</div>

      "Package Manager is especially impressive for a wider range of users. It’s
      a bit like shopping for Swift tools you want for your app or service, and
      tells you how to add them to your project."
    </div>
  </div>
</div>

<div class='sidekick-unit ibm-swift'>
  <div class='sidekick-unit-container'>

    <div class='sidekick-unit-bit restricted-width'>
      <div class='title'>What Can I Do For You?</div>
    </div>
    <div class='sidekick-unit-bit restricted-width'>
      <div class='header'>Let's Chat.</div>

      <a href='mailto:jballands@gmail.com' class='email'>jballands@gmail.com</a>

      <p>(Or contact me on any of my social media channels.)</p>
    </div>

  </div>
</div>

<!-- bundle:js -->
<!-- endinject -->
