<div class='hero-unit ibm-swift ibm-swift-spacer'>
  <div class='hero-unit-container'>
    <div class='hero-unit-bit'>
      <div class='title'>IBM Swift</div>

      As part of their
      commitment to Swift, IBM released the IBM Swift Sandbox to helps devs get
      started quickly with the language. Later, the IBM Swift Package Catalog was
      released to help Swift developers easily find packages compatible with the
      Swift Package Manager.

      <p>Working as the lead web developer and Scrum Master for bother projects
      has taught me not only how to develop entire front-ends and Node servers at
      scale, but also how to plan and lead a development effort with tight schdules
      and deadlines. And let me say, making bleeding-edge products focused on devs
      is pretty freaking satisfying.</p>
    </div>

    <div class='hero-unit-bit'>
      <img id='ibmswift-imac-1' src='/ibmswift-imac-1.png' />
    </div>
  </div>
</div>

<div class='liquid-columns-container ibm-swift'>

  <div class='liquid-column'>
    <div class='ibm-swift-liquid-bit-big' id='ibm-swift-eye-popping-trigger'>
      <img id='ibmswift-iphone-1' src='/ibmswift-iphone-1.png' />
    </div>

    <div class='ibm-swift-liquid-bit-small'>
      <div class='header'>A fluid roadmap.</div>

      Plaid narwhal ramps cardigan. Mustache street art pinterest forage mixtape
      helvetica, blog flannel knausgaard waistcoat sriracha direct trade +1 pitchfork
      bicycle rights. Gochujang tacos 3 wolf moon salvia ugh biodiesel pickled
      tattooed bicycle rights paleo mumblecore, vice beard.
    </div>

    <div class='ibm-swift-liquid-bit-small'></div>
  </div>

  <div class='liquid-column'>
    <div class='ibm-swift-liquid-bit-small'></div>

    <div class='ibm-swift-liquid-bit-small'>
      <div class='header'>Continuously delievered with eye-popping new features.</div>

      Plaid narwhal ramps cardigan. Mustache street art pinterest forage mixtape
      helvetica, blog flannel knausgaard waistcoat sriracha direct trade +1 pitchfork
      bicycle rights. Gochujang tacos 3 wolf moon salvia ugh biodiesel pickled
      tattooed bicycle rights paleo mumblecore, vice beard.
    </div>

    <div class='ibm-swift-liquid-bit-big' id='ibm-swift-fluid-roadmap-trigger'>
      <img id='ibmswift-macbook-1' src='/ibmswift-macbook-1.png' />
      <img id='ibmswift-macbook-2' src='/ibmswift-macbook-2.png' />
      <img id='ibmswift-macbook-3' src='/ibmswift-macbook-3.png' />
    </div>
  </div>

</div>

<div class='sidekick-unit ibm-swift'>
  <div class='sidekick-unit-container'>

    <div class='sidekick-unit-bit'>
      <div class='title'>Like What You See?</div>
    </div>
    <div class='sidekick-unit-bit'>
      <div class='header'>Let's Chat.</div>

      <a href='mailto:jballands@gmail.com' class='email'>jballands@gmail.com</a>

      <p>(Or contact me on any of my social media channels.)</p>
    </div>

  </div>
</div>

<!-- bundle:js -->
<!-- endinject -->
