<div class='sidekick-unit ibm-swift'>
  <div class='sidekick-unit-container'>
    <div class='sidekick-unit-column'>
      <div class='title'>IBM Swift</div>
      <div class='header'>By devs, for devs.</div>

      Fast-moving, flexible, and open to feedback, the IBM Swift Sandbox and
      Package Catalog are more than just powerful tools for an expressive language.
    </div>

    <div class='sidekick-unit-column'>

    </div>
  </div>
</div>
