<div class='hero-unit ibm-swift ibm-swift-spacer'>
  <div class='hero-unit-container'>
    <div class='hero-unit-bit'>
      <div class='title'>IBM Swift</div>

      Street art disrupt tilde, forage ugh typewriter before they sold out kitsch
      +1 pinterest four dollar toast heirloom lo-fi. Squid vice fixie, vegan tofu
      put a bird on it actually kickstarter irony VHS etsy. Poutine letterpress
      green juice lomo mlkshk.

      <p>3 wolf moon pour-over yr, brunch chillwave venmo bitters vice leggings
        gastropub. Kickstarter tumblr blog franzen post-ironic. Semiotics everyday
        carry street art, kinfolk taxidermy crucifix 8-bit readymade bitters yr.
        Cardigan kale chips XOXO, listicle chartreuse ramps intelligentsia pitchfork
        four loko meggings.</p>
    </div>

    <div class='hero-unit-bit'>
      <img id='ibmswift-imac-1' src='/ibmswift-imac-1.png' />
    </div>
  </div>
</div>

<div class='liquid-columns-container ibm-swift'>

  <div class='liquid-column'>
    <div class='ibm-swift-liquid-bit-big'>
      <img id='ibmswift-phone-1' src='/ibmswift-iphone-1.png' />
    </div>
  </div>

  <div class='liquid-column'>
    <div class='ibm-swift-liquid-bit-small'></div>

    <div class='ibm-swift-liquid-bit-small'>
      <div class='header'>Continuously delievered with eye-popping new features.</div>

      Plaid narwhal ramps cardigan. Mustache street art pinterest forage mixtape
      helvetica, blog flannel knausgaard waistcoat sriracha direct trade +1 pitchfork
      bicycle rights. Gochujang tacos 3 wolf moon salvia ugh biodiesel pickled
      tattooed bicycle rights paleo mumblecore, vice beard.
    </div>

    <div class='ibm-swift-liquid-bit-small'></div>
  </div>

</div>
