<a class='hero-unit self-promotion-hero-unit' href=''>
<div class='hello-my-name-is-container'>

  <div class='hello-my-name-is-salutation'>Hey there, I can do</div>

  <div class='hello-my-name-is-typing'>
    <span id='self-promotion-tty'></span><span class='blinking-cursor'></span>
  </div>

  <div class='hello-my-name-is-description'>
    I can do a lot of things. Some things I know like the back of my hand,
    others I still need a little practice. All of them I’m excited about.
  </div>

  <div class='learn-more dark-purple'>
    <img src='/learn_more_purple.svg' /> View Résumé
  </div>

  <div class='hero-unit-arrow'><img src='/purple-down-arrow.svg' /></div>
</div>
</a>

<div class='sidekick-unit resume'>
  <div class='header'>Hello world</div>

  <div class='sidekick-unit-columns-container'>
    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/code-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Development</div>

      I’m a developer and software engineer, specializing in web and native mobile
      development.
    </div>

    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/design-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Design</div>

      I’ve been told I have a good eye for design, and hopefully my website makes
      this known.
    </div>

    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/mgmt-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Management</div>

      I have tried my hand at being a Scrum Master, as well as project management
      on projects like the IBM Swift Sandbox.
    </div>
  </div>
</div>

<div class='liquid-columns-container resume'>

  <div class='liquid-column'>
    <div class='resume-liquid-bit-small'></div>

    <div class='resume-liquid-bit-small'>
      <div class='header'>Development.</div>

      Chicharrones plaid master cleanse post-ironic biodiesel. Cornhole man bun
      locavore, leggings mlkshk squid everyday carry craft beer hammock vinyl
      ramps. Craft beer distillery disrupt, mustache sriracha schlitz kinfolk
      literally asymmetrical scenester.
    </div>

    <div class='resume-liquid-bit-big' id='design-liquid-bit'>
      <img id='design-imac' src='/design-imac.png' />
    </div>

    <div class='resume-liquid-bit-small'>
      <div class='header'>Management.</div>

      Chicharrones plaid master cleanse post-ironic biodiesel. Cornhole man bun
      locavore, leggings mlkshk squid everyday carry craft beer hammock vinyl
      ramps. Craft beer distillery disrupt, mustache sriracha schlitz kinfolk
      literally asymmetrical scenester.
    </div>

    <div class='resume-liquid-bit-small'></div>
  </div>

  <div class='liquid-column'>
    <div class='resume-liquid-bit-big' id='code-liquid-bit'>
      <img id='code-imac' src='/code-imac.png' />
    </div>

    <div class='resume-liquid-bit-small'>
      <div class='header'>Design.</div>

      Chicharrones plaid master cleanse post-ironic biodiesel. Cornhole man bun
      locavore, leggings mlkshk squid everyday carry craft beer hammock vinyl
      ramps. Craft beer distillery disrupt, mustache sriracha schlitz kinfolk
      literally asymmetrical scenester.
    </div>

    <div class='resume-liquid-bit-big' id='mgmt-liquid-bit'>
      <img id='mgmt-imac' src='/mgmt-imac.png' />
    </div>


  </div>

</div>

<!--div class='sidekick-unit resume resume-sidekick-unit' id='code-sidekick-unit'>
  <div class='sidekick-unit-container'>
    <div class='header'></div>

    <div class='sidekick-unit-bit'>
      <div class='header'>Development.</div>

      Chicharrones plaid master cleanse post-ironic biodiesel. Cornhole man bun
      locavore, leggings mlkshk squid everyday carry craft beer hammock vinyl
      ramps. Craft beer distillery disrupt, mustache sriracha schlitz kinfolk
      literally asymmetrical scenester.
    </div>

    <div class='sidekick-unit-bit'>
      <img id='code-imac' src='/code-imac.png' />
    </div>
  </div>
</div>

<div class='sidekick-unit resume resume-sidekick-unit' id='design-sidekick-unit'>
  <div class='sidekick-unit-container'>

    <div class='sidekick-unit-bit'>
      <img id='design-imac' src='/design-imac.png' />
    </div>
    <div class='sidekick-unit-bit'>
      <div class='header'></div>

      <div class='sidekick-unit-bit'>
        <div class='header'>Design.</div>

        Chicharrones plaid master cleanse post-ironic biodiesel. Cornhole man bun
        locavore, leggings mlkshk squid everyday carry craft beer hammock vinyl
        ramps. Craft beer distillery disrupt, mustache sriracha schlitz kinfolk
        literally asymmetrical scenester.
      </div>
    </div>
  </div>
</div>

<div class='sidekick-unit resume resume-sidekick-unit' id='mgmt-sidekick-unit'>
  <div class='sidekick-unit-container'>
    <div class='header'></div>

    <div class='sidekick-unit-bit'>
      <div class='header'>Management.</div>

      Chicharrones plaid master cleanse post-ironic biodiesel. Cornhole man bun
      locavore, leggings mlkshk squid everyday carry craft beer hammock vinyl
      ramps. Craft beer distillery disrupt, mustache sriracha schlitz kinfolk
      literally asymmetrical scenester.
    </div>

    <div class='sidekick-unit-bit'>
      <img id='mgmt-imac' src='/mgmt-imac.png' />
    </div>
  </div>
</div-->

<!-- bundle:js -->
<!-- endinject -->
