<a class='hero-unit self-promotion-hero-unit' href=''>
<div class='hello-my-name-is-container'>

  <div class='hello-my-name-is-salutation'>Hey there, I can do</div>

  <div class='hello-my-name-is-typing'>
    <span id='self-promotion-tty'></span><span class='blinking-cursor'></span>
  </div>

  <div class='hello-my-name-is-description'>
    I can do a lot of things. Some things I know like the back of my hand,
    others I still need a little practice. All of them I’m excited about.
  </div>

  <div class='learn-more dark-purple'>
    <img src='/learn_more_purple.svg' /> View Résumé
  </div>

  <div class='hero-unit-arrow'><img src='/purple-down-arrow.svg' /></div>
</div>
</a>

<div class='sidekick-unit resume'>
<div class='header'></div>

<div class='sidekick-unit-columns-container'>
  <div class='sidekick-unit-column'>
    <div class='sidekick-unit-column-icon'>
      <img src='/code-icon.svg' />
    </div>

    <div class='sidekick-unit-column-header header'>Development</div>

    I’m a developer and software engineer, specializing in web and native mobile
    development.
  </div>

  <div class='sidekick-unit-column'>
    <div class='sidekick-unit-column-icon'>
      <img src='/design-icon.svg' />
    </div>

    <div class='sidekick-unit-column-header header'>Design</div>

    I’ve been told I have a good eye for design, and hopefully my website makes
    this known.
  </div>

  <div class='sidekick-unit-column'>
    <div class='sidekick-unit-column-icon'>
      <img src='/mgmt-icon.svg' />
    </div>

    <div class='sidekick-unit-column-header header'>Management</div>

    I have tried my hand at being a Scrum Master, as well as project management
    on projects like the IBM Swift Sandbox.
  </div>
</div>
</div>

<!-- bundle:js -->
<!-- endinject -->
