<a class='hero-unit self-promotion-hero-unit' href=''>
  <div class='hello-my-name-is-container'>

    <div class='hello-my-name-is-salutation'>Hey there, I can do</div>

    <div class='hello-my-name-is-typing'>
      <span id='self-promotion-tty'></span><span class='blinking-cursor'></span>
    </div>

    <div class='hello-my-name-is-description'>
      I can do a lot of things. Some things I know like the back of my hand,
      others I still need a little practice. All of them I’m excited about.
    </div>

    <div class='learn-more dark-purple'>
      <img src='/learn_more_purple.svg' /> View Résumé
    </div>

    <div class='hero-unit-arrow'><img src='/purple-down-arrow.svg' /></div>
  </div>
</a>

<div class='sidekick-unit resume'>
  <div class='header'>Look at me mom</div>

  <div class='sidekick-unit-columns-container'>
    <div class='sidekick-unit-column'>
      <img src='/code-icon.svg' />

      <div class='header'>Development</div>
    </div>

    <div class='sidekick-unit-column'>
      <img src='/design-icon.svg' />

      <div class='header'>Design</div>
    </div>

    <div class='sidekick-unit-column'>
      <img src='/mgmt-icon.svg' />

      <div class='header'>Management</div>
    </div>
  </div>
</div>

<!-- bundle:js -->
<!-- endinject -->
