<a class='hero-unit resume-top' href='/resume.pdf' target='_none'>
<div class='hello-my-name-is-container'>

  <div class='hello-my-name-is-salutation'>Hey there, I can do</div>

  <div class='hello-my-name-is-typing'>
    <span id='self-promotion-tty'></span><span class='blinking-cursor'></span>
  </div>

  <div class='hello-my-name-is-description'>
    I can do a lot of things. Some I know like the back of my hand, others I still
    need a little practice. Let me put those skills to work for you.
  </div>

  <div class='learn-more dark-purple'>
    <img src='/learn_more_purple.svg' /> View Résumé
  </div>

  <div class='hero-unit-arrow'><img src='/purple-down-arrow.svg' /></div>
</div>
</a>

<div class='sidekick-unit resume-gradient'>
  <div class='header'>The Jon Ballands Trilogy.</div>

  <div class='sidekick-unit-columns-container'>
    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/code-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Development</div>

      I’m a developer and software engineer, specializing in web and native mobile
      development.
    </div>

    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/design-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Design</div>

      I've been told I have a good eye for design. Need a example? I designed
      this entire site myself.
    </div>

    <div class='sidekick-unit-column'>
      <div class='sidekick-unit-column-icon'>
        <img src='/mgmt-icon.svg' />
      </div>

      <div class='sidekick-unit-column-header header'>Leadership</div>

      I have been a Scrum Master, as well as led multiple efforts
      ranging from front-end web dev to onboarding.
    </div>
  </div>
</div>

<div class='sidekick-unit resume'>
  <div class='sidekick-unit-container' id='code-liquid-bit'>
    <div class='sidekick-unit-bit restricted-width'>
      <div class='header'>I'm Primarily a Developer.</div>

      I currently have a Bachelors' in Computer Science from Virginia Tech. My
      forté is currently in web development, particularly React.js, Angular.js,
      and Node development. I also have plenty of experience in iOS development using
      Swift, Apple's latest programming language.
    </div>

    <div class='sidekick-unit-bit images'>
      <img id='code-imac' />
    </div>
  </div>
</div>

<div class='sidekick-unit resume'>
  <div class='sidekick-unit-container' id='design-liquid-bit'>
    <div class='sidekick-unit-bit images'>
      <img id='design-imac' />
    </div>

    <div class='sidekick-unit-bit restricted-width'>
      <div class='header'>I Like Things Pretty.</div>

      As a society, we are more sensitive to bad design than ever before. Even
      though the closest to a design degree I have is a minor in Industrial Design,
      I take care in designing any software I write so that people will actually
      want to use the thing.
    </div>
  </div>
</div>

<div class='sidekick-unit resume'>
  <div class='sidekick-unit-container' id='mgmt-liquid-bit'>
    <div class='sidekick-unit-bit restricted-width'>
      <div class='header'>I've Led Projects.</div>

      I have found myself leading multiple efforts, including: web lead and Scrum
      Master for the IBM Swift Sandbox and IBM Swift Package Catalog, web lead for
      the IBM ReadyApps program, and the onboarding coordinator new developers at
      the IBM Mobile Innovation Lab.
    </div>

    <div class='sidekick-unit-bit images'>
      <img id='mgmt-imac' />
    </div>
  </div>
</div>

<div class='sidekick-unit resume question-spacer'>
  <div class='sidekick-unit-container'>

    <div class='sidekick-unit-bit restricted-width question-bottom'>
      <div class='title'>Like What You See?</div>
    </div>
    <div class='sidekick-unit-bit restricted-width lets-chat'>
      <div class='header'>Let's Chat.</div>

      <a href='mailto:jballands@gmail.com' class='email'>jballands@gmail.com</a>

      <p>(Or contact me on any of my social media channels.)</p>
    </div>

  </div>
</div>
