<div class='hero-unit somersault'>
  <div class='hero-unit-container'>
    <div class='hero-unit-bit restricted-width'>
      <div class='title'>Somersault</div>

      Somersault is a gymnastics-scoring iOS app that doesn't suck. Originally
      intended to give me experience on an end-to-end iOS solution, Somersault
      not only keeps track of scores, but also provides you with analytics to
      help you draw conclusions from the data you provide it.

      <p>If you get on the app store and search "Gymnastics Scores", many of
      the apps you'll find look like they weren't updated since iOS's skeuomorphic
      days. Some apps are designed with the new flat UI, but their layout is confusing
      and jarring. Somersault attempts to alieviate those problems, and then some.</p>

      <p>Somersault is still in the development stages, so keep your eyes peeled.</p>
    </div>

    <div class='hero-unit-bit restricted-width'>
      <img id='somersault-iphone-1' src='/somersault-iphone-1.png' />
      <img id='somersault-iphone-2' src='/somersault-iphone-2.png' />
    </div>
  </div>
</div>

<div class='liquid-columns-container somersault'>

  <div class='liquid-column left'>
    <div class='somersault-liquid-bit-big restricted-width' id='somersault-fits-in-trigger'>
      <img id='somersault-iphone-3' src='/somersault-iphone-3.png' />
      <img id='somersault-iphone-4' src='/somersault-iphone-4.png' />
      <img id='somersault-iphone-5' src='/somersault-iphone-5.png' />
      <img id='somersault-iphone-6' src='/somersault-iphone-6.png' />
      <img id='somersault-iphone-7' src='/somersault-iphone-7.png' />
      <img id='somersault-iphone-8' src='/somersault-iphone-8.png' />
    </div>

    <div class='somersault-liquid-bit-small restricted-width'>
      <div class='header'>Designed To Be Powerful.</div>

      One of the big differentiators between Somersault and other gymnastics-scoring
      apps is that Somersault can help you draw conclusions from the data you provide
      it through analytics; this is by design. You have an entire computer with
      crazy computing power in the palm of your hand; let's put it to good use.
    </div>
    <div class='somersault-liquid-bit-small'></div>
  </div>

  <div class='liquid-column right'>
    <div class='somersault-liquid-bit-small'></div>

    <div class='somersault-liquid-bit-small restricted-width'>
      <div class='header'>Fits Right In With Your Other Apps.</div>

      Somersault embraces the new, flat user interface from iOS 7. What this means
      is not only does Somersault look modern and fresh, it also fits in with other
      apps that have adopted the same new design. Just because Somersault fufills a
      somewhat obscure need doesn't mean it needs a somerwhat obscure UI.
    </div>

    <div class='somersault-liquid-bit-big no-overflow' id='somersault-powerful-trigger'>
      <img id='somersault-imac-1' src='/somersault-imac-1.png' />
    </div>
  </div>
</div>

<div class='sidekick-unit somersault'>
  <div class='sidekick-unit-container'>

    <div class='sidekick-unit-bit restricted-width'>
      <div class='title'>What Can I Do For You?</div>
    </div>
    <div class='sidekick-unit-bit restricted-width'>
      <div class='header'>Let's Chat.</div>

      <a href='mailto:jballands@gmail.com' class='email'>jballands@gmail.com</a>

      <p>(Or contact me on any of my social media channels.)</p>
    </div>

  </div>
</div>

<!-- bundle:js -->
<!-- endinject -->
