<div class='hero-unit somersault somersault-overflowy'>
  <div class='hero-unit-container'>
    <div class='hero-unit-bit restricted-width'>
      <div class='title'>Somersault</div>

      Letterpress cronut health goth meh, kogi twee stumptown umami whatever. Pork
      belly waistcoat you probably haven't heard of them, keffiyeh selfies chartreuse
      keytar trust fund vinyl sartorial fingerstache typewriter. Keffiyeh church-key
      tousled trust fund, messenger bag XOXO mixtape humblebrag food truck cliche.

      <p>Stumptown viral ethical, farm-to-table small batch bespoke wolf offal.
        Tacos salvia seitan art party, heirloom intelligentsia keytar. Church-key
        hashtag green juice typewriter. Photo booth fashion axe pork belly,
        readymade pop-up fixie schlitz affogato master cleanse actually bicycle
        rights.</p>
    </div>

    <div class='hero-unit-bit restricted-width'>
      <img id='somersault-iphone-1' src='/somersault-iphone-1.png' />
      <img id='somersault-iphone-2' src='/somersault-iphone-2.png' />
    </div>
  </div>
</div>

<div class='liquid-columns-container somersault'>

  <div class='liquid-column left'>
    <div class='somersault-liquid-bit-big restricted-width' id='somersault-fits-in-trigger'>
      <img id='somersault-iphone-3' src='/somersault-iphone-3.png' />
      <img id='somersault-iphone-4' src='/somersault-iphone-4.png' />
      <img id='somersault-iphone-5' src='/somersault-iphone-5.png' />
      <img id='somersault-iphone-6' src='/somersault-iphone-6.png' />
      <img id='somersault-iphone-7' src='/somersault-iphone-7.png' />
      <img id='somersault-iphone-8' src='/somersault-iphone-8.png' />
    </div>

    <div class='somersault-liquid-bit-small restricted-width'>
      <div class='header'>Designed To Be Powerful.</div>

      Keffiyeh chartreuse hella kitsch fanny pack. Single-origin coffee PBR&B echo
      park, gastropub fashion axe kitsch hashtag venmo YOLO chambray wolf irony.
      Franzen trust fund squid chillwave swag flexitarian, sriracha church-key
      cred poutine tilde forage offal truffaut.
    </div>

    <div class='somersault-liquid-bit-small'></div>
  </div>

  <div class='liquid-column right'>
    <div class='somersault-liquid-bit-small'></div>

    <div class='somersault-liquid-bit-small restricted-width'>
      <div class='header'>Fits Right In With Your Other Apps.</div>

      Aesthetic 90's shoreditch, master cleanse squid swag cold-pressed waistcoat
      tattooed asymmetrical everyday carry sartorial. Austin pitchfork man bun,
      pug +1 four dollar toast kale chips blog post-ironic brooklyn fixie chambray.
    </div>

    <div class='somersault-liquid-bit-big'>
      <img id='somersault-imac-1' src='/somersault-imac-1.png' />
    </div>
  </div>
</div>

<div class='sidekick-unit somersault'>
  <div class='sidekick-unit-container'>

    <div class='sidekick-unit-bit restricted-width'>
      <div class='title'>What Can I Do For You?</div>
    </div>
    <div class='sidekick-unit-bit restricted-width'>
      <div class='header'>Let's Chat.</div>

      <a href='mailto:jballands@gmail.com' class='email'>jballands@gmail.com</a>

      <p>(Or contact me on any of my social media channels.)</p>
    </div>

  </div>
</div>

<!-- bundle:js -->
<!-- endinject -->
