.hello-my-name-is-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  margin: 0 10px;

  max-width: $iPhone6PlusWidth;
}

.hello-my-name-is-salutation {
  font-family: 'Yellowtail', cursive;
  font-size: 24pt;
}

.hello-my-name-is-typing {
  @include title();

  display: flex;
  justify-content: center;
  align-items: center;

  height: 1em;
}

.hello-my-name-is-description {
  text-align: center;
  margin-top: 10px;
}

.blinking-cursor {
  display: inline-block;
  height: 1em;
  width: 2px;
  background: $blue-gem;
  margin-left: 3px;

  @include animation('blink 0.75s infinite');
}

@include keyframes(blink) {
  0% {
    background: transparent;
  }
  50% {
    background: $blue-gem;
  }
  100% {
    background: transparent;
  }
}
