.hero-unit {
  width: 100%;
  height: 568px;

  display: flex;
  justify-content: center;

  position: relative;

  color: $white;
  text-decoration: none;

  &.no-overflow {
    overflow: hidden;
  }
}

.hero-unit-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin: 0 10px;
}

.hero-unit-bit {
  flex: 1 1;
  padding: 0;

  &:first-child {
    padding-top: 50px;
  }

  &:last-child {
    padding-bottom: 50px;
  }

  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.hero-unit-arrow {
  position: absolute;
  bottom: 15px;

  left: calc(50% - 18px);

  @include animation('bounce 7s infinite');

  img {
    width: 36px;
  }
}

@include keyframes(bounce) {
  30% {
    bottom: 15px;
  }
  34% {
    bottom: 9px;
  }
  38% {
    bottom: 15px;
  }
  42% {
    bottom: 9px;
  }
  46% {
    bottom: 15px;
  }
}
