.navigation-bar {
  position: absolute;

  top: 25px;
  left: 35px;
  right: 35px;

  z-index: 1000;

  color: $white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $white;
    text-decoration: none;
  }
}

.navigation-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20pt;
  letter-spacing: 0.5pt;
}

.navigation-items {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 16pt;
  letter-spacing: 1.5pt;
}

.navigation-item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

#hamburger {
  display: none;
}

// -----------------------------------------------------------------------------
// Tablet
// -----------------------------------------------------------------------------

@media (max-width: $tabletMax) and (min-width: $tabletMin) {
  .navigation-title {
    font-size: 16pt;
  }

  #hamburger {
    width: 30px;
    height: 25px;
  }
}

// -----------------------------------------------------------------------------
// Phone
// -----------------------------------------------------------------------------

@media (max-width: $phoneMax) {
  .navigation-title {
    font-size: 13pt;
  }

  #hamburger {
    width: 25px;
    height: 20px;
  }
}

// -----------------------------------------------------------------------------
// Tablet + Phone
// -----------------------------------------------------------------------------

@media (max-width: $tabletMax) {
   .navigation-bar {
     left: 20px;
     right: 20px;
   }

   .navigation-item {
     display: none;
   }

   #hamburger {
     display: block;
     background-image: url('/hamburger.svg');
     background-size: contain;
     background-repeat: no-repeat;
   }
}
