.homepage-hero-unit {
  background-size: cover;
  background-position: center center;

  background-color: $backgroundImageTint;
  background-blend-mode: multiply;

  z-index: 100;

  @media (max-width: $phoneMax) {
    background-image: url('/austin_bridge_768x539.jpg');
  }
}

.learn-more {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12pt;
  letter-spacing: 0.5pt;

  img {
    width: 40px;
    margin-right: 10px;
  }
}

// -----------------------------------------------------------------------------

.ibm-hero-unit {
  background: $teal;

  .hero-unit-container {
    flex-flow: column-reverse;
  }

  .hero-unit-bit {
    flex: 1 1;
    width: 100%;
    padding: 0;
  }

  #ibm-hero-unit-images {
    height: 284px;
    //padding-top: 50px;
  }

  #ibm-hero-unit-text {
    padding-bottom: 50px;
  }

  #ibm-hero-unit-iphone {
    content:url('/ibm-swift-iphone-sandbox-mobile.png');

    height: 152px;
    position: absolute;
    left: 0;
    z-index: 10;

    // For jQuery animation
    top: -100%;
  }

  #ibm-hero-unit-macbook {
    content:url('/ibm-swift-macbook-catalog-mobile.png');

    height: 215px;
    position: absolute;
    top: 50px;
    z-index: 9;

    // For jQuery animation
    left: 120%;
  }
}

// -----------------------------------------------------------------------------

.somersault-hero-unit {
  background: $orange;

  #somersault-hero-unit-back {
    width: 275px;

    position: absolute;
    right: 285px;
    z-index: 9;

    // For jQuery animation
    top: 100%;
  }

  #somersault-hero-unit-front {
    width: 275px;

    position: absolute;
    right: 100px;
    z-index: 10;

    // For jQuery animation
    top: 100%;
  }
}

// -----------------------------------------------------------------------------

.self-promotion-hero-unit {
  background: $purple;
}
