.homepage-hero-unit {
  background-size: cover;
  background-position: center top;

  z-index: 100;

  @media (max-width: $mobileMax) {
    background-image: url('/cloud_gate_small.jpg');
  }

  .hero-unit-bit:first-child {
    padding-top: 50px;
  }

  .hero-unit-bit:last-child {
    padding-bottom: 50px;
  }
}

.learn-more {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12pt;
  letter-spacing: 0.5pt;

  img {
    width: 40px;
    margin-right: 10px;
  }
}

// -----------------------------------------------------------------------------

.ibm-hero-unit {
  @include tealGradient();

  .hero-unit-container {
    flex-flow: column-reverse;
  }

  .images {
    height: 284px;
  }

  .text {
    padding-bottom: 50px;
  }

  #ibm-hero-unit-iphone {
    content:url('/ibm-swift-iphone-sandbox-mobile.png');

    height: 152px;
    position: absolute;
    left: 0;
    z-index: 10;
  }

  #ibm-hero-unit-macbook {
    content:url('/ibm-swift-macbook-catalog-mobile.png');

    height: 215px;
    position: absolute;
    top: 50px;
    z-index: 9;
  }

  .learn-more {
    color: $eucalyptus;
  }
}

// -----------------------------------------------------------------------------

.somersault-hero-unit {
  @include orangeGradient();

  .hero-unit-container {
    flex-flow: column-reverse;
  }

  .images {
    height: 200px;
    margin-top: 30px;
  }

  #somersault-hero-unit-back {
    content: url('/somersault-iphone-back-mobile.png');

    width: 140px;

    position: absolute;
    right: calc(50% - 65px + 45px);
    z-index: 9;
  }

  #somersault-hero-unit-front {
    content: url('/somersault-iphone-front-mobile.png');

    width: 140px;

    position: absolute;
    right: calc(50% - 65px - 45px);
    z-index: 10;
  }

  .learn-more {
    color: $copper-canyon;
  }
}

// -----------------------------------------------------------------------------

.self-promotion-hero-unit {
  @include purpleGradient();

  .learn-more {
    color: $blue-gem;
  }
}
