.resume {
  background: $darkPurple;
}

.resume-liquid-bit-small {
  @include liquid-bit(2.25);
}

.resume-liquid-bit-big {
  @include liquid-bit(6.75);
}

// -----------------------------------------------------------------------------

#code-liquid-bit {
  .images {
    width: 300px;
    height: 265px;
  }
}

#code-imac {
  position: absolute;
  width: 300px;

  top: 40px;
  left: 180%;

  content: url('/code-imac-mobile.png');
}

// -----------------------------------------------------------------------------

#design-liquid-bit {
  flex-flow: column-reverse;

  .images {
    width: 300px;
    height: 265px;
  }
}

#design-imac {
  position: absolute;
  width: 300px;

  top: 40px;
  right: 120%;

  content: url('/design-imac-mobile.png');
}

// -----------------------------------------------------------------------------

#mgmt-imac {
  position: absolute;
  height: 600px;

  top: calc(50% - 280px);
  left: 125%;
}
