.somersault-top {
  @include orangeGradient();
}

.somersault {
  background: $flamingo;
}

.somersault-spacer {
  padding-top: 70px;
}

.somersault-liquid-bit-small {
  @include liquid-bit(2.25);
}

.somersault-liquid-bit-big {
  @include liquid-bit(6.75);
}

// -----------------------------------------------------------------------------

#somersault-page-hero-unit {
  height: auto;

  .images {
    height: 450px;
  }
}

#somersault-iphone-1 {
  position: absolute;
  width: 300px;
  //height: 235px;

  top: 45px;
  left: calc(50% - 150px);

  content: url('/somersault-iphone-1-mobile.png');
}

#somersault-iphone-2 {
  position: absolute;
  width: 200px;

  top: 130px;
  left: calc(50% - 100px);

  content: url('/somersault-iphone-2-mobile.png');
}

// -----------------------------------------------------------------------------

#somersault-fits-in {
  flex-flow: column-reverse;

  .images {
    height: 345px;
    width: calc(50% + 20px);
  }
}

#somersault-iphone-5 {
  position: absolute;
  width: 200px;

  right: calc(50% - 99px);

  content: url('/somersault-iphone-5-mobile.png');
}

#somersault-iphone-4 {
  position: absolute;
  width: 200px;

  right: calc(50% - 173px);

  content: url('/somersault-iphone-4-mobile.png');
}

#somersault-iphone-7 {
  position: absolute;
  width: 200px;

  right: calc(50% - 26px);

  content: url('/somersault-iphone-7-mobile.png');
}

#somersault-iphone-6 {
  position: absolute;
  width: 200px;

  right: calc(50% - 283px);

  content: url('/somersault-iphone-6-mobile.png');
}

#somersault-iphone-8 {
  position: absolute;
  width: 200px;

  right: calc(50% - 207px);

  content: url('/somersault-iphone-8-mobile.png');
}

#somersault-iphone-3 {
  position: absolute;
  width: 200px;

  right: calc(50% + 85px);

  content: url('/somersault-iphone-3-mobile.png');
}

// -----------------------------------------------------------------------------

#somersault-powerful {
  .images {
    height: 265px;
    width: calc(100% + 20px);
  }
}

#somersault-imac-1 {
  position: absolute;
  width: 300px;

  top: 40px;

  content: url('/somersault-imac-1-mobile.png');
}
