.homepage-hero-unit {
  background-size: cover;
  background-position: center top;

  z-index: 100;

  @media (min-width: $desktopMin) {
    background-image: url('cloud_gate_high.jpg');
  }
  @media (max-width: $laptopMax) and (min-width: $laptopMin) {
    background-image: url('cloud_gate_medium.jpg');
  }
}

.learn-more {
  margin-top: 50px;
  display: flex;
  align-items: center;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14pt;
  letter-spacing: 0.5pt;

  img {
    margin-right: 15px;
  }
}

// -----------------------------------------------------------------------------

.ibm-hero-unit {
  @include tealGradient();

  #ibm-hero-unit-iphone {
    content: url('/ibm-swift-iphone-sandbox-desktop.png');

    height: 425px;
    position: absolute;
    left: 45px;
    z-index: 10;
  }

  #ibm-hero-unit-macbook {
    content: url('/ibm-swift-macbook-catalog-desktop.png');

    height: 580px;
    position: absolute;
    top: 50px;
    z-index: 9;
  }

  .learn-more {
    color: $eucalyptus;
  }
}

// -----------------------------------------------------------------------------

.somersault-hero-unit {
  @include orangeGradient();

  #somersault-hero-unit-back {
    content: url('/somersault-iphone-back-desktop.png');

    width: 275px;

    position: absolute;
    right: 285px;
    z-index: 9;
  }

  #somersault-hero-unit-front {
    content: url('/somersault-iphone-front-desktop.png');
    width: 275px;

    position: absolute;
    right: 100px;
    z-index: 10;
  }

  .learn-more {
    color: $copper-canyon;
  }
}

// -----------------------------------------------------------------------------

.self-promotion-hero-unit {
  @include purpleGradient();

  .learn-more {
    color: $blue-gem;
  }
}
