.ibm-swift-top {
  @include tealGradient();
}

.ibm-swift {
  background: $shakespeare;
}

.ibm-swift-spacer {
  padding-top: 70px;
}

// -----------------------------------------------------------------------------

#ibmswift-imac-1 {
  position: absolute;
  height: 700px;

  top: 0;
  left: 200px;

  content: url('/ibmswift-imac-1-desktop.png');
}

// -----------------------------------------------------------------------------

#ibm-swift-eye-popping {
  height: 450px;
}

#ibmswift-iphone-1 {
  position: absolute;
  height: 400px;

  right: 50px;

  content: url('/ibmswift-iphone-1-desktop.png');
}

// -----------------------------------------------------------------------------

#ibm-swift-fluid-roadmap {
  height: 325px;
}

#ibmswift-macbook-1 {
  position: absolute;
  height: 390px;

  top: calc(50% - 210px);

  content: url('/ibmswift-macbook-1-desktop.png');
}

// -----------------------------------------------------------------------------

#apple-insider {
  height: 100px;
}

#nasdaq {
  height: 100px;
}
