.homepage-hero-unit {
  background-size: cover;
  background-position: center top;

  /* Big screens */
  @media (min-width: 1441px) {
    background-image: url('austin_bridge_3142x2207.jpg');
  }
  /* Laptops */
  @media (min-width: 720px) and (max-width: 1440px) {
    background-image: url('austin_bridge_1440x1011.jpg');
  }
  /* Mobile */
  @media (max-width: 719px) {
    background-image: url('austin_bridge_720x506.jpg');
  }
}

.homepage-hero-unit-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;

  width: 100%;
  margin: 0 55px;

  div {
    flex: 0 1 50%;
  }
}
