.homepage-hero-unit {
  background-size: cover;
  background-position: center center;

  background-color: $backgroundImageTint;
  background-blend-mode: multiply;

  /* Big screens */
  @media (min-width: $desktopMin) {
    background-image: url('austin_bridge_3142x2207.jpg');
  }
  /* Laptops */
  @media (max-width: $laptopMax) and (min-width: $laptopMin) {
    background-image: url('austin_bridge_1440x1011.jpg');
  }
  /* Mobile */
  @media (max-width: $mobileMax) {
    background-image:  url('austin_bridge_768x539.jpg');
  }
}

.homepage-hero-unit-tagline {
  flex: 0 1 calc(50% - 200px);
  margin: 0 100px;
}

.homepage-hero-unit-description {
  flex: 0 1 calc(50% - 200px);
  margin: 0 100px;
}
