.ibm-swift {
  background: $teal;
}

.ibm-swift-liquid-bit-small {
  @include liquid-bit(2.25);
}

.ibm-swift-liquid-bit-big {
  @include liquid-bit(6.75);
}

.ibm-swift-spacer {
  padding-top: 70px;
}

// -----------------------------------------------------------------------------

#ibmswift-imac-1 {
  position: absolute;
  height: 700px;

  top: 0;
  left: 200px;
  //left: 100%;
}

// -----------------------------------------------------------------------------

#ibmswift-iphone-1 {
  position: absolute;
  height: 450px;

  right: 10%;
  top: 50px;

  opacity: 0;
}

// -----------------------------------------------------------------------------

#ibmswift-macbook-1 {
  position: absolute;
  height: 390px;

  left: 50px;
  top: calc(50% - 210px);

  opacity: 0;
}

#ibmswift-macbook-2 {
  position: absolute;
  height: 420px;

  left: 135px;
  top: calc(50% - 230px);

  opacity: 0;
}

#ibmswift-macbook-3 {
  position: absolute;
  height: 450px;

  left: 245px;
  top: calc(50% - 250px);

  opacity: 0;
}
