.somersault {
  background: $orange;
}

// ----------------------------------------------

#somersault-iphone-1 {
  position: absolute;
  width: 600px;

  top: 15px;
  left: 70px;
}

#somersault-iphone-2 {
  position: absolute;
  width: 400px;

  top: 150px;
  left: 200px;
}
