.liquid-columns-container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.liquid-column {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
}

@mixin liquid-bit($factor) {
  flex: 1 1 50%;
  padding: 0 25px 0 50px;

  position: relative;
  height: (100px * $factor);

  display: flex;
  flex-flow: column;
  justify-content: center;

  overflow: hidden;
}
