.liquid-columns-container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.liquid-column {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;

  &.left {
    align-items: flex-end;
  }
  &.right {
    align-items: flex-start;
  }
}

@mixin liquid-bit($factor) {
  padding: 0 25px 0 50px;

  position: relative;
  width: calc(100% - 75px);
  height: (100px * $factor);

  display: flex;
  flex-flow: column;
  justify-content: center;

  &.restricted-width {
    max-width: $maxUnitBitWidth;
  }

  &.no-overflow {
    overflow: hidden;
  }
}
